html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* border: solid 1px red; */

/* header section */
header {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding: 2rem 0;  

}

.nav {
    display: flex;
    gap: 30%;
    justify-content: center;
    font-size: 2rem;
    padding: 2rem 0;
   
    
}

/* banner img section */
.banner-container {
    display: flex;
    height: 27.625rem;
    width: auto;
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 27.625rem;
    object-fit: cover;
    object-position: 50% 33%;
}

/* experience section*/
.exp-header {
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 21.875rem;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    margin: 3rem;
    
    
}
.card img {
    width: 100%;
    height: 21.875rem;
    object-fit: cover;
}
.card-content {
    text-align: center;
    padding: 16px;
}
.card-content p {
    font-size: 2rem;
    margin-bottom: 8px;
}

/* mq section */
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2.75rem;
    }
    p {
        font-size: 1rem;
    }
    header {
        padding: 2rem 0;
    }
    .nav {
        gap: 20%;
    }
    .card-content p {
        font-size: 1rem;
    }
    .exp-header {
        font-size: 1.75rem;
    }
    .card {
        margin: 1.5rem 3rem;
    }
   .card img {
    height: 300px;
   }
}